body
{
    /* margin-left: 10px; */
    background-color: antiquewhite;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
nav ul li{
    list-style: none;
}
nav ul{

    /* background-color: black; */
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
div{
    margin-left: 10px;
}